.blogArticle {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.blogImg {
    margin-right: 2rem;
    min-width: 300px;
    width: 50%;
}

.blogTitle {
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .blogArticle {
        align-items: flex-start;
        flex-flow: column nowrap;
    }


}