.container {
    display: grid;
    grid-template-columns: [first] 15% [second] 85%;
    grid-template-rows: [main] 1fr [sub] 10% [end];
}

.main {
    grid-column-start: second;
    grid-row-start: main;
}
