.container {
    display: grid;
    grid-template-columns: [first] 13% [second] 87%;
    grid-template-rows: [main] 1fr [sub] 8% [end];
}

.main {
    grid-column-start: second;
    grid-row-start: main;
}
