.serviceSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 5rem 3rem;
}

@media (max-width: 800px) {
    .serviceSection {
        display: flex;
        flex-flow: column nowrap;
    }
}