.serviceCard {
    align-items: center;
    background: #E1E1E1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 255px;
    padding: 7rem 2rem 2rem;
    position: relative;
    text-align: center;
}

.serviceImgContainer {
    background: white;
    border-radius: 50%;
    display: flex;
    padding: 1.5rem;
    position: absolute;
    top: -3rem;
}

.serviceImg {
    filter: invert(45%) sepia(90%) saturate(135%) hue-rotate(87deg) brightness(119%) contrast(119%);
    width: 5rem;
}

.serviceHeading {
    margin: 0 0 2rem;
    text-transform: uppercase;
}

.serviceDescription {
    margin: 0 0 2rem;
}

@media (max-width: 800px) {
    .serviceCard {
        margin-bottom: 5rem;
    }

    .serviceCard:last-of-type {
        margin-bottom: 0;
    }
}