.header {
    align-items: center;
    background: hsl(0, 0%, 15%);
    color: #C3C3C3;
    display: flex;
    flex-flow: column nowrap;
    grid-column-start: first;
    grid-row-start: main;
    grid-row-end: end;
}

.homeButton {
    color: hsl(140, 45%, 65%);
    margin-bottom: 1rem;
    position: relative;
}

.homeButton::after {
    border-bottom: 2px solid #76D796;
    bottom: 0;
    color: #76D796;
    content: '';
    left: 25%;
    position: absolute;
    width: 50%;
}

.navSection {
    align-items: center;
    border-bottom: 1px solid #747474;
    border-top: 1px solid #747474;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.siteHeaderNavLink {
    text-transform: uppercase;
}

.searchButton {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.searchButtonImage {
    filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}