.header {
    align-items: center;
    background: hsl(0, 0%, 15%);
    color: #C3C3C3;
    display: flex;
    flex-flow: column nowrap;
    grid-column-start: first;
    grid-row-start: main;
    grid-row-end: end;
    padding: 2rem 0;
}

.homeButton {
    color: hsl(140, 45%, 65%);
    font-size: 1.5rem;
    margin-bottom: 3rem;
    position: relative;
}

.homeButton::after {
    border-bottom: 2px solid #76D796;
    bottom: 0;
    color: #76D796;
    content: '';
    left: 25%;
    position: absolute;
    width: 50%;
}

.navSection {
    align-items: center;
    border-bottom: 1px solid #747474;
    border-top: 1px solid #747474;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 3rem;
    padding: 1rem 0;
    width: 100%;
}

.siteHeaderNavLink {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.siteHeaderNavLink:last-of-type {
    margin-bottom: 0;
}

.searchButton {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.searchButtonImage {
    filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

@media (max-width: 700px) {
    .navSection {
        display: none;
    }
}

@media (max-width: 800px) {
    .header {
        flex-flow: row nowrap;
    }

    .homeButton {
        margin: 0;
        padding: 0 2rem;
    }

    .navSection {
        align-items: flex-start;
        border: none;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0;
    }

    .siteHeaderNavLink {
        margin: 0;
    }

    .searchButton {
        padding: 0 2rem;
    }
}