.header {
    background: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
    grid-column-start: first;
    grid-row-start: main;
    grid-row-end: end;
}

.homeButton {
    color: hsl(140, 45%, 65%);
}

.navSection {
    display: flex;
    flex-flow: column nowrap;
}
